/* Fichier CSS site web Azcogach's Quest */
/* Règles générales */
html, body 
{
    margin: 0;
    font-family: "Rubik";
    color: #D5E2D0;
}

.PageBackground
{
    background-color: #3A3845;
    background-image: url(../Ressources/Images/BackgroundPattern.png)
}

.ForegroundElementBackground
{
    background-color: #826F66;
}

/* Règles Spécifiques */
.Header, #NavBarre, #Langue, #BandeAnnonce, .Footer, #RS, #Credits, .Credits2
{
    display: flex;
}

/* Header */
.Header
{
    justify-content: space-between;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.35) 0em 0.5em 1em;
}

/* Header Logo */
#PartialLogo
{
    margin-left: -5.25em;
    margin-bottom: 0.55em;
}

#HeaderLogoBackground 
{
    height: 7em;
    width: 7em;
    background-color: #F7CCAC;
    border-radius: 50%;
    display: inline-block;
    margin-left: 4em;
    margin-top: 0.2em;
}

/* Barre de Navigation */
#NavBarre
{
    gap: 8em;

    /*color: #EBFFEB;*/

    font-weight: 410;
    font-size: 1.5em;
}

/* Lien Barre de Navigation */
li.NavBarreElement
{
    list-style: none;
}

li.NavBarreElement:hover
{
    background-color: #fff;
    text-decoration: underline;
}

li.NavBarreElement:active
{
    background-color: red;
}

/* Langue */
#Langue
{
    gap: 0.3em;
    margin-right: 2.5em;
}

#Drapeau
{
    width: 2em;
    height: 2em;
}

#Sélecteur
{
    width: 1em;
    height: 2em;
}

/* Body */
.MainContent
{
    display: flex;
    flex-direction: column;
}

/* Bande Annonce */
#BandeAnnonce
{
    margin-top: 3em;
    justify-content: center;
}

#Video
{
    filter: drop-shadow(0 0 0.5rem black);
}

/* Nouveauté */
#Nouveauté
{
    margin-top: 5em;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 2.5em;
}

/* Jouer */
#Jouer
{
    margin-top: 2.5em;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 5em;
}

/* Footer */
.Footer
{
    flex-direction: column;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.35) 0em -0.5em 1em;
}

/* Logos */
#FooterLogo
{
    width: 5em;
    height: auto;
}

.RSLogo 
{
    width: 1.5em;
    height: 1.5em;
}

#LogoGauche
{
    margin-right: 0.5em;
}

#LogoDroite
{
    margin-left: 0.5em;
}

/* Crédits */
#Credits
{
    flex-direction: column;
    align-items: center;

}

.Credits2Top
{
    margin-bottom: 0;
}

.Credits2Bottom
{
    margin-top: 0.1em;
}

#Coeur, #Copyright
{
    font-family: "Inter";
    margin-right: 0.3em;
    margin-left: 0.3em;
}